<div class="modal-header">
    <h3 class="modal-title">Are you sure you want to {{type}} the leave?</h3>
</div>
<div class="modal-body">
    <p class="text-center">Enter reason below. Reason is mandatory</p>
    <textarea class="form-control" placeholder="Reason" data-ng-model="leaveReason"></textarea>
</div>
<div class="modal-footer">
    <button data-ng-disabled="!leaveReason" class="btn btn-primary" ng-click="ok(leaveReason)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>